<div class="row about">
    <div class="col-md-6 thumbnail"><img alt="Me" src="./static/images/site-logo.jpg"></div>
    <div class="col-md-6"><h2>Hello<span class="highlight">BookWorms</span></h2>
        <p>This site is the result of a MEAN stack experiment.
            The main theme of this site is to share books and collaborate with your thoughts on any book item.
            The text stack used is
            <ul>
                <li><strong><i>M</i>ongodb :</strong>For saving document data</li>
                <li><strong><i>E</i>xpress :</strong>For routing the API calls</li>
                <li><strong><i>A</i>ngular :</strong>Framework to handle front end data</li>
                <li><strong><i>N</i>odeJS :</strong>Processing the HTTP requests acting as an API</li>
                <li><strong>Socket.IO :</strong>Real-time interactions in Chats page.
                    If User A and User B are in same chat page and posting a comment it will be loaded without page reload</li>
            </ul>
        </p>
        <p>This site has been planned to have 3 Phases of development as described bellow.</p>
        <div class="list-group">
          <div class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Phase 1</h4>
            <p class="list-group-item-text">This phase majorly focuses on lending and sharing books with all users.</p>
                <ul>
                    <li><strong>Access:</strong> Registration and login to site</li>
                    <li><strong>Contribute:</strong> Lend your book and list it to other users for viewing</li>
                    <li><strong>Collaborate:</strong> Public forums. Place where people can dive in to discuss about any topic referring to a book</li>
                 </ul>

          </div>
          <div class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Phase 2</h4>
            <p class="list-group-item-text">This phase majorly focuses on making users get connected strongly by forming network.</p>
                <ul>
                    <li><strong>Networks:</strong> Add users to your network and manage your contents across.</li>
                    <li><strong>Private forums:</strong> Where people can create private discussions that can be viewed only by those users in the network</li>
                </ul>

          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Phase 3</h4>
            <p class="list-group-item-text">This phase majorly focuses on users being well informed about the topics that are falling under their interests radar.</p>
                <ul>
                    <li><strong>Notifications:</strong> on book request to borrow from you.</li>
                    <li><strong>Alerts:</strong>.Adding favourite topics/genres/interests as tags that will let us perform search on the related events happening in the site</li>
                    <li><strong>Messages:</strong>Moving away from traditional emailing. Send private messages manages per profile in order to have ease in communication</li>
                 </ul>

          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Phase 4</h4>
            <p class="list-group-item-text">This phase majorly focuses on mobilising the application with a Cordova based mobile App(If only the site hits more user base).</p>
          </div>
        </div>
    </div>
</div>