<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide01" src="../static/images/slide01.jpg">
            </div>
            <div class="slide">
                <img alt="Slide02" src="../static/images/slide02.jpg">
            </div>
            <div class="slide">
                <img alt="Slide03" src="../static/images/slide03.jpg">
            </div>
            <div class="slide">
                <img alt="Slide04" src="../static/images/slide04.jpg">
            </div>
            <div class="slide">
                <img alt="Slide05" src="../static/images/slide05.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-5">
              <div class="panel panel-primary">
                  <div class="panel-heading"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;</span>Filter search</div>
                  <div class="panel-body">
                   <div class="row form-group">
                        <label class="control-label col-xs-3">Title</label>
                    <div class="input-group col-xs-8">
                      <input type="text" class="form-control" placeholder="Song of Ice and Fire" ng-model="search.bookTitle">
                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">Author</label>
                    <div class="input-group col-xs-8">
                      <input type="text" class="form-control" placeholder="R.R.Martin" ng-model="search.authorName">
                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">City</label>
                    <div class="input-group col-xs-8">
                        <input type="text" ng-model="search.city" uib-typeahead="city for city in getLocations($viewValue) | limitTo:8" class="form-control" placeholder="Kings Landing">

                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">Locality</label>
                    <div class="input-group col-xs-8">
                        <input type="text" ng-model="search.locality" uib-typeahead="locality for locality in getLocations($viewValue) | limitTo:8" class="form-control" placeholder="Castle">

                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">Genres</label>
                    <div class="input-group col-xs-8">
                        <tags-input ng-model="search.genres" placeholder="Add genres"><auto-complete source=" genres | filter:$query"></auto-complete></tags-input>

                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">Sort</label>
                    <div class="input-group col-xs-8">
            <toggle-switch
              ng-model="search.sortAscending"
              on-label="Ascending"
              off-label="Descending">
            </toggle-switch>
                    </div><!-- /input-group -->
                    </div><!-- row -->
                    <div class="row form-group">
                        <label class="control-label col-xs-3">Available only</label>
                    <div class="input-group col-xs-8">
            <toggle-switch
              ng-model="search.availableOnly"
              on-label="Yes"
              off-label="No">
            </toggle-switch>
                    </div><!-- /input-group -->
                    </div><!-- row -->
                  </div><!-- panel body-->
                  <div class="panel-footer text-right"><button type="button" class="btn btn-primary" ng-click="searchBooks()">Apply</button></div><!-- panel footer -->
                </div><!-- panel -->
          </div><!-- /.col-lg-6 -->
              <div class="col-lg-6"><div class="media" ng-repeat="book in availableBooks">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="http://books.google.co.in/books/content?id=yZ1APgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="{{book.volumeInfo.title}}">
            </a>
          </div>
          <div class="media-body">
              {{book.volumeInfo.imageLinks.thumbnail}}
            <h4 class="media-heading">{{book.name}}</h4>
              <div><span class="label label-success">Success</span></div>
            sdsfsdfdsfdsf {{book.volumeInfo.description}}
          </div>
                  </div></div>
</div><!-- /.row -->
    </div>
</div>