<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Change credential</h3>
    </div>
    <div class="panel-body">

        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>Error!</strong> {{ errorMessage }}
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>Success</strong> Password change successful!!
        </div>
        <form class="form-horizontal" name="changeCredentialForm">
            <div class="form-group">
                <label for="authorName" class="control-label"><sup>*</sup>Indicates required fields</label>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Current Password<sup>*</sup></label>
                <div class="col-xs-5">
                    <input class="form-control" type="password" ng-model="user.currentPassword" id="inputEmail" placeholder="Current password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">New Password<sup>*</sup></label>
                <div class="col-xs-5">
                    <input type="password" class="form-control" id="inputPassword" ng-model="user.password"
                           placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label for="cofirmPassword" class="control-label col-xs-2">Confirm Password<sup>*</sup></label>
                <div class="col-xs-5">
                    <input ng-model="user.confirmPassword" type="password" class="form-control" name="confirmPassword"
                           placeholder="Re-Password" ng-required="true" equals="{{ user.password }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-5">
                    <button type="submit" ng-disabled="!changeCredentialForm.$valid" class="btn btn-primary" ng-click="changePassword()">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
