<div class="main contact">
    <div class="container">
        <h2>Contact me</h2>
        <div class="row">
            <div class="col-md-2">
                <a class="linkedin" href="https://portfolio-rails-2633.herokuapp.com/contact#">linkedin</a>
            </div>
            <div class="col-md-2">
                <a class="github" href="https://portfolio-rails-2633.herokuapp.com/contact#">github</a>
            </div>
            <div class="col-md-2">
                <a class="twitter" href="https://portfolio-rails-2633.herokuapp.com/contact#">twitter</a>
            </div>
            <div class="col-md-2">
                <a class="facebook" href="https://portfolio-rails-2633.herokuapp.com/contact#">facebook</a>
            </div>
            <div class="col-md-2">
                <a class="gplus" href="https://portfolio-rails-2633.herokuapp.com/contact#">google plus</a>
            </div>
            <div class="col-md-2">
                <a class="instagram" href="https://portfolio-rails-2633.herokuapp.com/contact#">instagram</a>
            </div>
        </div>
    </div>
</div>