<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide08" src="https://file.ac/1vjO3iSZ5G4/slide08.jpg">
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Feedback</h3></div>
        <div class="panel-body">
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                        aria-hidden="true">&times;</span></button>
                <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Done:</span>Success!</strong> Your feedback have been submitted. Thanks for sharing your good thoughts and supporting BookWorm.
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                        aria-hidden="true">&times;</span></button>
                <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>Error!</strong> Problem submitting the details. Try after sometime!
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <form class="form-horizontal" name="feedbackForm">
                        <div class="form-group">
                            <label for="authorName" class="control-label"><sup>*</sup>Indicates required fields</label>
                        </div>
                        <div class="form-group">
                            <label for="authorName" class="control-label col-xs-2">Type<sup>*</sup></label>
                            <div class="col-xs-8">
                                <select  type="text" class="form-control" name="type"
                                       placeholder="BookWorm" ng-model="feedback.feedbackType" ng-required="true">
                                    <option selected="selected" value="query">Query</option>
                                    <option value="bug">Bug</option>
                                    <option value="suggestion">Suggestion</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authorName" class="control-label col-xs-2">Your name<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="feedback.authorName" type="text" class="form-control" name="authorName"
                                       placeholder="BookWorm" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-xs-2">Your Email</label>
                            <div class="col-xs-8">
                                <input ng-model="feedback.email" type="email" class="form-control" name="inputEmail"
                                       placeholder="top-notch-user@bookworm.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="control-label col-xs-2">Feedback<sup>*</sup></label>
                            <div class="col-xs-8">
                                <textarea ng-model="feedback.feedbackComment" class="form-control" name="comment"
                                       placeholder="How much BookWorm is useful?" ng-required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="submit" class="btn btn-primary" ng-click="sendFeedback()"
                                        ng-disabled="!feedbackForm.$valid">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>