<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide04" src="https://file.ac/1vjO3iSZ5G4/slide04.jpg">
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chats Of: {{ forum.forumTitle }}</h3>
        </div>
        <div>
            <div class="panel-body">
                <div class="well">
                    <p>{{ forum.description }}</p>
                    <a href="#/bookworm/auth/edit-forum/{{ forum.id }}" ng-if="isUserForumOwner()" class="btn btn-primary">Edit</a>
                    <div class="media"  ng-if="forum.referredBook">
                      <div class="media-left">
                        <a class="media-object" href="#">
                          <img class="thumbnail" src="{{ forum.referredBook.thumbnailURL }}" alt="No Image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Referred Book:{{ forum.referredBook.bookName }}</h4>
                        Description: {{ forum.referredBook.description }}
                      </div>
                    </div>
                </div>
                <div class="container" ng-repeat="chat in forumChats">
                    <div class="meta">
                        <img src="{{ chat.author.thumbnailURL }}"
                             class="avatar" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">

                        <a ng-href="#/bookworm/auth/users/{{ chat.author.username }}" class="author"
                           ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">{{chat.author | formatUserName}}</a>

                        <span class="date" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">
                            <time >{{ chat.createdTS | formatDate }}</time>
                        </span>

                        <div class="count" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">
                            Username: {{ forum.author.username }}
                        </div>

                    </div><!-- div meta -->
                    <div ng-class="{'chat-content-mine' : isCommentatorAuthor(chat), 'chat-content' : !isCommentatorAuthor(chat)}">
                        <p>{{ chat.chatComment }}</p>
                    </div><!-- div content-->
                </div><!-- div container -->
                <div class="container row-fluid" ng-if="isLoggedIn()">
                    <div class="new-chat-content form-group">
                       <div class="new-chat-text-container">
                           <textarea class="form-control" ng-model="newChat.chatComment"></textarea>
                       </div>
                       <div class="new-chat-button-container text-right">
                            <button class="btn btn-primary" ng-disabled="!newChat.chatComment" ng-click="addChat()">Send
                                <i class="glyphicon glyphicon-send"></i>
                            </button>
                       </div>
                    </div>
                    <div class="meta">
                        <img src="{{ currentUser.thumbnailURL }}"
                             class="avatar chat-owner">
                        <a ng-href="#/bookworm/auth/users/{{ currentUser.username }}" class="author chat-owner">{{ currentUser | formatUserName }}</a>
                        <span class="date chat-owner">
                            <time >{{ loggedTime | formatDate }}</time>
                        </span>
                        <div class="count chat-owner">
                           Username : {{ currentUser.username }}
                        </div>
                    </div>
                </div>
            </div><!-- div container-->
        </div><!-- div panel body-->
    </div><!-- div panel -->
</div><!-- main -->