<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide04" src="../static/images/slide04.jpg">
            </div>
            <div class="slide">
                <img alt="Slide05" src="../static/images/slide05.jpg">
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chats Of: {{ forum.forumTitle }}</h3>
        </div>
        <div>
            <div class="panel-body">
                <div class="well">
                    {{ forum.description }}
                    <div ng-if="forum.referredBook">
                        Referred Book : {{ forum.referredBook.bookName }}
                        <img src="{{ forum.referredBook.thumbnailURL }}" alt="No Image"/>
                        Description: {{ forum.referredBook.description }}
                    </div>
                </div>
                <div class="container" ng-repeat="chat in forumChats">
                    <div class="meta">
                        <img src="//www.gravatar.com/avatar/b2b6777100f6a72412d18513c3bf8ab0?s=120&amp;d=http%3A%2F%2Fwww%2Ebennadel%2Ecom%2Fimages%2Fgravatar%2Farnold%2Ejpg"
                             class="avatar" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">

                        <a href="/members/7390-brad-newman.htm" class="author"
                           ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">{{ chat.author.authorName }}</a>

                        <a href="#comments_43710" class="date" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">
                            <time datetime="2013-11-08">{{ chat.createdTS }}</time>
                        </a>

                        <div class="count" ng-class="{ 'chat-owner' : isCommentatorAuthor(chat) }">
                            Commented as {{ $index+1 }}
                        </div>

                    </div><!-- div meta -->
                    <div ng-class="{'chat-content-mine' : isCommentatorAuthor(chat), 'chat-content' : !isCommentatorAuthor(chat)}">
                        <p>{{ chat.chatComment }}</p>
                    </div><!-- div content-->
                </div><!-- div container -->
                <div class="container row-fluid">
                    <div class="new-chat-content form-group">
                        <textarea class="form-control" ng-model="newChat.chatComment"></textarea>
                        <button class="btn btn-primary" ng-click="addChat()">Send
                            <i class="glyphicon glyphicon-send"></i>
                        </button>
                    </div>
                    <div class="meta">
                        <img src="//www.gravatar.com/avatar/b2b6777100f6a72412d18513c3bf8ab0?s=120&amp;d=http%3A%2F%2Fwww%2Ebennadel%2Ecom%2Fimages%2Fgravatar%2Farnold%2Ejpg"
                             class="avatar chat-owner">
                        <a href="/members/7390-brad-newman.htm" class="author chat-owner">{{ currentUser.authorName }}</a>
                        <a href="#comments_43710" class="date chat-owner">
                            <time datetime="2013-11-08">Nov 8, 2013 at 8:16 PM</time>
                        </a>
                        <div class="count chat-owner">
                            5 Comments
                        </div>
                    </div>
                </div>
            </div><!-- div container-->
        </div><!-- div panel body-->
    </div><!-- div panel -->
</div><!-- main -->