<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide01" src="../static/images/slide02.jpg">
            </div>
            <div class="slide">
                <img alt="Slide03" src="../static/images/slide03.jpg">
            </div>
            <div class="slide">
                <img alt="Slide04" src="../static/images/slide04.jpg">
            </div>
            <div class="slide">
                <img alt="Slide05" src="../static/images/slide05.jpg">
            </div>
        </div>
    </div>
    
    <div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">Forums by BookWorms</h3></div>
        <div>
            <div class="container">
            <uib-accordion close-others="true">
                <uib-accordion-group is-open="status[discussion.id].open" ng-repeat="discussion in discussions">
            <uib-accordion-heading>
                   {{discussion.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status[discussion.id].open, 'glyphicon-chevron-right': !status[discussion.id].open}"></i>
          </uib-accordion-heading>
                 {{discussion.description}}
                    <a href="#/bookworm/forums/{{discussion.id}}">View talks</a>
                    <div class="meta">

                                <img src="//www.gravatar.com/avatar/b2b6777100f6a72412d18513c3bf8ab0?s=120&amp;d=http%3A%2F%2Fwww%2Ebennadel%2Ecom%2Fimages%2Fgravatar%2Farnold%2Ejpg" class="avatar">

                                <a href="/members/7390-brad-newman.htm" class="author owner">Brad Newman</a>

                                <a href="#comments_43710" class="date">
                                    <time datetime="2013-11-08">Nov 8, 2013 at 8:16 PM</time>
                                </a>

                                <div class="count">
                                    5 Comments
                                </div>

                            </div>
                </uib-accordion-group>
            </uib-accordion>
            </div><!-- div container-->
        </div><!-- div panel body-->
    </div><!-- div panel -->
</div><!-- main -->