<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide02" src="https://file.ac/1vjO3iSZ5G4/slide02.jpg">
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Forums by BookWorms</h3></div>
        <div>
            <div class="panel-body">
                <div class="well well-lg" ng-if="isLoggedIn()"><a type="button" href="#/bookworm/auth/new-forum" class="btn btn-primary btn-lg">New
                    Discussion</a> Start your discussion now!
                </div>
                <div class="alert alert-info alert-dismissible" role="alert" ng-if="!forums.length">
                    <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Info:</span></strong> No information to display
                </div>
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="status[forum.id].open" ng-repeat="forum in forums">
                        <uib-accordion-heading>
                            {{ forum.forumTitle }}
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status[forum.id].open, 'glyphicon-chevron-right': !status[forum.id].open}"></i>
                        </uib-accordion-heading>
                        {{ forum.description }}
                        <a href="#/bookworm/forums/{{ forum.id }}">View talks</a>
                        <div class="meta">
                            <img src="{{ forum.author.thumbnailURL }}"
                                 alt="{{ forum.author | formatUserName }}"
                                 class="avatar">
                            <a ng-href="#/bookworm/auth/users/{{ forum.author.username }}" class="author" ng-class="{'owner' : isCreatorAuthor(forum)}">
                                {{ forum.author | formatUserName }}
                            </a>
                            <span class="date">
                                <time>{{forum.createdTS | formatDate}}</time>
                            </span>
                            <div class="count">
                                Username : {{ forum.author.username }}
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
                <div class="center" ng-if="pageSort.totalItems > 0">
                    <uib-pagination boundary-links="true" total-items="pageSort.totalItems" ng-model="pageSort.pageNumber"
                                max-size="pageSort.maximumPages" items-per-page="pageSort.itemsPerPage" rotate="true"
                                ng-change="pageChanged()"
                                class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div><!-- div center -->
            </div><!-- div container-->
        </div><!-- div panel body-->
    </div><!-- div panel -->
</div><!-- main -->