<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide01" src="../static/images/slide02.jpg">
            </div>
            <div class="slide">
                <img alt="Slide03" src="../static/images/slide03.jpg">
            </div>
            <div class="slide">
                <img alt="Slide04" src="../static/images/slide04.jpg">
            </div>
            <div class="slide">
                <img alt="Slide05" src="../static/images/slide05.jpg">
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Forum details</h3></div>
        <div>
            <div class="panel-body">
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Done:</span>Sucess!</strong> Your details have been submitted.
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>Error!</strong> Problem submitting the details. Try after sometime!
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="forumTitle" class="control-label col-xs-2">Title</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="forumTitle" ng-model="forum.forumTitle"
                                   placeholder="Why Tyrion killed Tywin Lannister?">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-2">Description</label>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="5" ng-model="forum.description" name="description"
                                      placeholder="Because he was a mean father."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-2">Reference book</label>
                        <div class="col-xs-5">
                            <input ng-model="book.bookName" type="text" class="form-control" name="bookName"
                                   placeholder="Song of Ice and Fire" ng-required="true"
                                   typeahead-loading="loadingBooks"
                                   uib-typeahead="ibook.bookName for ibook in loadBookDetails($viewValue) | limitTo:8"
                                   typeahead-min-length="5" typeahead-on-select="onBookSelect($item, $model, $label)">
                            <input type="hidden" ng-model="book.bookName" value="{{ book.title }}"/>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isLoggedIn()">
                        <div class="col-xs-offset-2 col-xs-5">
                            <button type="submit" ng-if="!isEditMode()" class="btn btn-primary" ng-click="addForum()">Start Discussion
                            </button>
                             <button type="submit" ng-if="isEditMode()" class="btn btn-primary" ng-click="updateForum()">Edit Discussion
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- div panel body-->
        </div><!-- div container-->
    </div><!-- div panel -->
</div><!-- main -->