<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide03" src="https://file.ac/1vjO3iSZ5G4/slide03.jpg">
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Forum details</h3></div>
        <div>
            <div class="panel-body">
               <div ng-repeat="msg in messages" class="alert alert-{{ msg.type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert($index)"><span
                            aria-hidden="true">&times;</span></button>
                    <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">{{ msg.type }}</span></strong>{{ msg.text }}
                </div>
                <form class="form-horizontal" name="discussionForm">
                    <div class="form-group">
                        <label for="authorName" class="control-label"><sup>*</sup>Indicates required fields</label>
                    </div>
                    <div class="form-group">
                        <label for="forumTitle" class="control-label col-xs-2">Title<sup>*</sup></label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="forumTitle" ng-model="forum.forumTitle"
                                   placeholder="Why Tyrion killed Tywin Lannister?" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-2">Description<sup>*</sup></label>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="5" ng-model="forum.description" name="description"
                                      placeholder="Because he was a mean father." ng-required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isPrivate" class="control-label col-xs-2">Mark as Private<sup>*</sup></label>
                        <div class="col-xs-5">
                            <input type="checkbox" placeholder="(Will be visible to those you select from network)" class="form-control" id="isPrivate" ng-model="forum.isPrivate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-2">Reference book</label>
                        <div class="col-xs-5">
                            <input ng-model="book.bookName" type="text" class="form-control" name="bookName"
                                   placeholder="Song of Ice and Fire"
                                   typeahead-loading="loadingBooks"
                                   uib-typeahead="ibook.bookName for ibook in loadBookDetails($viewValue) | limitTo:8"
                                   typeahead-min-length="5" typeahead-on-select="onBookSelect($item, $model, $label)">
                            <input type="hidden" ng-model="book.bookName" value="{{ book.title }}"/>
                        </div>
                    </div>
                    <div class="form-group" ng-if="forum.isPrivate">
                        <label for="forumTitle" class="control-label col-xs-2">Visible To<sup>*</sup></label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="userSelect"
                                   ng-model="selectedUser.firstName"
                                   placeholder="Varys the Spider"
                                   typeahead-loading="loadingUsers"
                                   uib-typeahead="user | formatUserName for user in loadUsersList($viewValue) | limitTo:8"
                                   typeahead-min-length="3"
                                   typeahead-on-select="onUserSelect($item, $model, $label)"/>
                            <div class="item-list-row row">
                                <div class="col-xs-6" ng-repeat="user in visibleToUsers">
                                    <div class="item-container">
                                        <div class="thumbnail"><img src="{{ user.thumbnailURL }}"/></div>
                                        <div class="info">
                                            <div><strong>Name: </strong>{{ user | formatUserName }}</div>
                                            <div>{{ user.email }}</div>
                                            <button class="btn btn-primary btn-sm" ng-click="removeUser($index)">Remove</button></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isLoggedIn()">
                        <div class="col-xs-offset-2 col-xs-5">
                            <button type="submit" ng-if="!isEditMode()" ng-disabled="!discussionForm.$valid" class="btn btn-primary" ng-click="addForum()">Start Discussion
                            </button>
                             <button type="submit" ng-if="isEditMode()" ng-disabled="!discussionForm.$valid" class="btn btn-primary" ng-click="updateForum()">Edit Discussion
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- div panel body-->
        </div><!-- div container-->
    </div><!-- div panel -->
</div><!-- main -->