<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Registration details</h3></div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Done:</span>Success!</strong> Your details have been submitted.
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>Error!</strong> Problem submitting the details. Try after sometime!
        </div>
        <div class="alert alert-info alert-dismissible" role="alert">
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Info:</span>
            </strong>
            Kindly give a valid email ID.
            The current system depends on emails to allow interaction between bookworms.
            We are working on bringing smarter ways of interactions.
        </div>
        <div class="row">
                <div class="col-xs-8">
                    <form class="form-horizontal" name="registrationForm">
                        <div class="form-group">
                            <label for="authorName" class="control-label"><sup>*</sup>Indicates required fields</label>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="control-label col-xs-2">First name<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="user.firstName" type="text" class="form-control" name="firstName"
                                       placeholder="Tyrion" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="control-label col-xs-2">Last name</label>
                            <div class="col-xs-8">
                                <input type="text" ng-model="user.lastName" class="form-control" name="lastName"
                                       placeholder="Lannister" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dob" class="control-label col-xs-2">Date of Birth<sup>*</sup></label>
                            <div class="col-xs-8">
                                <date-picker-input init-date="user.dob"></date-picker-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="control-label col-xs-2">Gender</label>
                            <div class="col-xs-offset-2 col-xs-8">
                                <div class="radio">
                                    <label><input type="radio" ng-change="genderChange()" name="gender" ng-model="user.gender" value="male">Male</label>
                                    <label><input type="radio" ng-change="genderChange()" name="gender" ng-model="user.gender" value="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-xs-2">Email<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="user.email" type="email" class="form-control" name="inputEmail"
                                       placeholder="tyrion.lan@kings.landing" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label col-xs-2">Username<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="user.username" type="text" class="form-control" name="username"
                                       placeholder="coinmaster26" ng-blur="checkUsername()" ng-required="true">
                                <div ng-if="user.customMessage"
                                     ng-class="{'alert-error' : !user.isUsernameAvailable, 'alert-success' : user.isUsernameAvailable}">{{ user.customMessage }}&nbsp;<i
                                        class="glyphicon"
                                        ng-class="{'glyphicon-ok': user.isUsernameAvailable , 'glyphicon-remove' : !user.isUsernameAvailable} "></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label col-xs-2">Password<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="user.passKey" type="password" class="form-control" name="inputPassword"
                                       placeholder="Password" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cofirmPassword" class="control-label col-xs-2">Confirm Password<sup>*</sup></label>
                            <div class="col-xs-8">
                                <input ng-model="user.confirmPassword" type="password" class="form-control" name="confirmPassword"
                                       placeholder="Re-Password" ng-required="true" equals="{{ user.passKey }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="submit" class="btn btn-primary" ng-click="signup()"
                                        ng-disabled="!registrationForm.$valid && !user.isUsernameAvailable">Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
             <div class="col-md-3" ng-if="isEditMode()">
                <div href="#" class="thumbnail">
                    <img src="{{ user.thumbnailURL }}" alt="No Image">
                    <div class="caption"><p><button class="btn btn-primary" ng-click="showImageUploadModal" role="button">Change</button> your picture</p></div>
                </div>
           </div>
        </div>
    </div>
</div>
