<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Update Profiles</h3></div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success" dismiss-on-timeout="">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Done:</span>Sucess!</strong> Your details have been submitted.
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>Error!</strong> Problem submitting the details. Try after sometime!
        </div>
        <form class="form-horizontal" name="updateForm">
            <div class="form-group">
                <label for="username" class="control-label col-xs-2">Username</label>
                <div class="col-xs-5">
                    <input ng-disabled="true" ng-model="user.username" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="control-label col-xs-2">First name</label>
                <div class="col-xs-5">
                    <input ng-model="user.firstName" type="text" class="form-control" name="firstName"
                           placeholder="Tyrion" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="control-label col-xs-2">Last name</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="user.lastName" class="form-control" name="lastName"
                           placeholder="Lannister" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="dob" class="control-label col-xs-2">Date of Birth</label>
                <div class="col-xs-5">
                    <p class="input-group" ng-controller="DatepickerCtrl">
                        <input type="text" class="form-control" uib-datepicker-popup="{{ format }}" ng-model="dt"
                               is-open="status.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close"
                               show-button-bar="false" ng-change="onDatePicked()" name="user.dob"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="showDatepicker($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="control-label col-xs-2">Gender</label>
                <div class="col-xs-offset-2 col-xs-5">
                    <div class="radio">
                        <label><input type="radio" name="gender" ng-model="user.gender" value="male">Male</label>
                        <label><input type="radio" name="gender" ng-model="user.gender" value="female">Female</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Email</label>
                <div class="col-xs-5">
                    <input ng-model="user.email" type="email" class="form-control" name="inputEmail"
                           placeholder="tyrion.lan@kings.landing" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-5">
                    <button type="submit" class="btn btn-primary" ng-click="update()"
                            ng-disabled="!updateForm.$valid">Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
