<div class="main portfolio">
    <div class="jumbotron slideshow">
        <div class="slideshow-container">
            <div class="slide">
                <img alt="Slide05" src="../static/images/slide05.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <div class="form-group">
                <label class="control-label col-xs-2">Search Users</label>
                <div class="input-group col-xs-10">
                  <input type="text" ng-model="search.query" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchUsers()" type="button">Go!</button>
                  </span>
                </div><!-- /input-group -->
            </div><!-- form group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="row">
             <div class="col-lg-10">
                <div class="alert alert-info alert-dismissible" role="alert" ng-if="!users.length">
                    <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Info:</span></strong> No information to display
                </div>
                <div class="media" ng-repeat="user in users">
                    <div class="media-left">
                        <div class="user-thumbnail">
                            <img class="media-object thumbnail" src="{{ user.thumbnailURL }}" alt="{{ user.firstName }}">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a ng-href="#/bookworm/auth/users/{{ user.username }}">{{ user | formatUserName }}</a></h4>
                        <h4 class="media-heading"><a href="mailto:{{ user.email }}">{{ user.email }}</a></h4>
                        <h4 class="media-heading">{{ user.contributions }} Contributions</h4>
                        <h4 class="media-heading">BookWorm Since :{{ user.createdTS | formatDate}}</h4>
                    </div>
                </div>
                <div class="center"  ng-if="pageSort.totalItems > 0">
                    <uib-pagination boundary-links="true" total-items="pageSort.totalItems" ng-model="pageSort.pageNumber"
                                max-size="pageSort.maximumPages" items-per-page="pageSort.itemsPerPage" rotate="true"
                                ng-change="pageChanged()"
                                class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div><!-- div center -->
            </div><!-- Left column -->
        </div><!-- /.row -->
    </div>
</div>