<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Book details</h3></div>
    <div class="panel-body">
        <div ng-if="!bookDataAvailable" class="alert alert-danger alert-dismissible" role="alert">
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>No information available</strong>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="status.success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Done:</span>Sucess!</strong> Your request has been sent to the user. You'll receive a direct email response.
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="status.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>Error!</strong> Problem submitting the details. Try after sometime!
        </div>
        <div ng-if="bookDataAvailable" class="row">
            <div class="col-xs-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="isbn" class="control-label col-xs-2">ISBN</label>
                        <div class="col-xs-10">
                            {{ book.isbn }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookName" class="control-label col-xs-2">Book name</label>
                        <div class="col-xs-10">
                            {{ book.bookName }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="authorName" class="control-label col-xs-2">Author name</label>
                        <div class="col-xs-10">
                            {{ book.authorName }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-xs-2">Description</label>
                        <div class="col-xs-10">
                            {{ book.description }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genres" class="control-label col-xs-2">Genres</label>
                        <div class="col-xs-10">
                            <tags-input ng-model="book.genres"
                                        tooltip-trigger="focus" tooltip-placement="top"
                                        ng-disabled="true">
                            </tags-input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="meta" class="control-label col-xs-2">Contribution</label>
                        <div class="meta col-xs-10">
                            <img src="//www.gravatar.com/avatar/b2b6777100f6a72412d18513c3bf8ab0?s=120&amp;d=http%3A%2F%2Fwww%2Ebennadel%2Ecom%2Fimages%2Fgravatar%2Farnold%2Ejpg"
                                 class="avatar">
                            <a href="/members/7390-brad-newman.htm" class="author" ng-class="{'owner' : isUserContributor()}">
                                {{ book.contributor.authorName }}
                            </a>
                            <a href="#comments_43710" class="date">
                                <time datetime="2013-11-08">{{book.lendDate}}</time>
                            </a>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isLoggedIn()">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" ng-if="!isUserContributor()" class="btn btn-primary" ng-click="borrowBook()">
                                Request to Borrow
                            </button>
                            <a type="submit" ng-if="isUserContributor()" class="btn btn-primary" ng-href="#/bookworm/edit-book/{{ book.id }}">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <a href="#" >
                    <img class="thumbnail" src="{{ book.thumbnailURL }}" alt="No Image">
                </a>
            </div>
        </div>
    </div>
</div>
