<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User details</h3></div>
    <div class="panel-body">
        <div ng-if="!userDataAvailable" class="alert alert-danger alert-dismissible" role="alert">
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>No information available</strong>
        </div>
        <div ng-if="status.error" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>Something went wrong. Please try after some time.</strong>
        </div>
        <div ng-if="status.success" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissAlert()"><span
                    aria-hidden="true">&times;</span></button>
            <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>Your request has been sent</strong>
        </div>
        <div class="row" ng-if="userDataAvailable">
            <div class="col-md-3">
                <a href="#" class="thumbnail profile-image">
                    <img src="{{ user.thumbnailURL }}" alt="No Image">
                </a>
            </div>
            <div class="col-xs-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">First name</label>
                        <div class="col-xs-10">
                            {{ user.firstName }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Last name</label>
                        <div class="col-xs-10">
                            {{ user.lastName }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Birthday</label>
                        <div class="col-xs-10">
                            {{ user.dob | formatDate }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Gender</label>
                        <div class="col-xs-10">
                            {{ user.gender }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Email</label>
                        <div class="col-xs-10">
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Contributions</label>
                        <div class="col-xs-10">
                            {{ user.contributions }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10" ng-if="isLoggedIn()">
                            <button type="submit" ng-if="!isUserContributor() && !isUserAlreadyInNetwork()" class="btn btn-primary" ng-click="sendFriendRequest()">
                                Add to network
                            </button>
                            <span class="label label-success ng-binding">User in your network</span>
                            <a type="submit" ng-if="isUserContributor()" class="btn btn-primary" ng-href="#/bookworm/auth/update-profile/{{ user.id }}">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
