<div class="main home">
    <div class="jumbotron">
        <div class="container">
            <h2>Hello <span class="highlight">BookWorms</span> . It will often strike our minds that "What to do with the book that have been a good reading companion for quite a few days and now I have finished reading it". This is my basic site to enable people lending and borrowing books of your own, with people with simlar wavelength. </h2>
            <a class="btn left" href="https://portfolio-rails-2633.herokuapp.com/portfolio">Lend Book</a>
            <a class="btn right" href="#/bookworm/borrow">Borrow Book</a>
        </div>
    </div>
</div>