<div class="header" ng-controller="HomeController">
    <div class="navbar navbar-primary">
        <div class="container-fluid">
            <div class="navbar-header navbar-nav-padding">
                <a class="navbar-brand" href="#">BookWorm</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-nav-padding">
                    <li class="active"><a href="#">Home</a></li>
                    <li ng-if="isLoggedIn()">
                        <a href="#/bookworm/auth/users">Users</a>
                    </li>
                    <li ng-if="isLoggedIn()">
                        <a href="https://medium.com/about-codecademy">Blog</a></li>
                    <li>
                        <a href="#/bookworm/forums">Forums</a>
                    </li>
                    <li>
                        <a href="#/bookworm/about">About</a>
                    </li>
                    <li>
                        <a href="#/bookworm/contact">Contact</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn()">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                           Welcome {{ getDisplayName() }}<img src="{{ getThumbnail() }}" class="profile-image img-circle">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/bookworm/auth/users/{{ getUserName() }}"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn()">
                    <li><a href="#/bookworm/login"><span class="glyphicon glyphicon-user"></span> SignIn</a></li>
                    <li><a href="#/bookworm/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>